.tagGroup {
  display: flex;
  width: 100%;
  padding: 6px;
}

.tag {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 5px 10px;
  color: var(--thm-text-default);
  background-color: var(--thm-background-overlay);
  border-radius: 5px;

  &:has(.button:hover) {
    background-color: var(--thm-background-element);
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.button {
  &__svg {
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: var(--thm-icon-default);
  }
}
