@use '#Sass/abstracts/animations' as a;
@use '#Sass/components/form' as form;

.formContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.resetPasswordForm {
  @include form.form-base;
  row-gap: 20px; // TODO:  Temporary. Style individual parts later.

  &__submitBtn {
    @include form.submit-button;
    width: 100%;
    height: 50px;
  }

  &__link {
    color: purple;
    margin-inline: 10px;
  }
}
