$svg-dim: 14px;
$column-gap: 14px;
$padding: 16px;

.header {
  display: flex;
  align-items: center;
  column-gap: $column-gap;
  padding: $padding;

  &__headerSvg {
    width: $svg-dim;
    height: $svg-dim;
    color: var(--thm-text-default);
  }

  &__headerTitle {
    color: var(--thm-text-default);
    font-weight: 700;
  }
}

.row {
  display: flex;
  column-gap: $column-gap;
  align-items: flex-start;
  padding: 12px $padding;

  &__svg {
    width: $svg-dim;
    height: $svg-dim;
    color: var(--thm-text-default);
  }

  &__details {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color: var(--thm-text-secondary);

    &__value {
      color: var(--thm-text-default);
    }
  }

  &__editBtn {
    margin-left: auto;

    &__svg {
      color: var(--thm-text-default);
    }
  }
}
