# Secrets
**/.secret.*

# Env files
**/.env
**/.env.*

# Dependencies
**/node_modules

# Public
**/public
**/dist
**/_dist

# Logs
**/*.log

# Drizzle 
**/drizzle/migrations

# Testing
**/coverage

# Private Files
**/private.*
**/private
**/temp

# FrontEndMentor
*.sketch
*.xd
*.fig
.DS_Store

# VSCode
**/.vscode

# Mega-Linter
megalinter-reports/