@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/variables' as v;

.searchBar {
  display: flex;
  align-items: center;
  column-gap: 7px;
  width: 240px;
  height: 35px;
  padding-inline: 10px;
  color: var(--thm-button-secondary-text);
  font-size: 14px;
  background-color: var(--thm-button-secondary-background);
  border: 1px solid var(--thm-button-secondary-border);
  border-radius: 6px;
  transition-property: transform, background, color, border-color;
  transition-duration: 150ms, 1s, 1s, 1s;
  transition-timing-function: linear;

  &:hover {
    background-color: var(--thm-button-secondary-hover);
  }

  &:active {
    transform: scale(97%);
  }

  &__svg {
    min-width: 17px;
    height: 17px;
    filter: var(--thm-icon-svg-filter-default);
    transition: a.$theme-transition-filter;
  }

  &__shortcutKey {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    margin-left: auto;
    background-color: var(--thm-button-secondary-background);
    border: 1px solid var(--thm-button-secondary-border);
    border-radius: 6px;
    transition: a.$theme-transition-background, a.$theme-transition-border-color;
  }
}

.portalContent {
  position: absolute;
  inset: 0;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0deg 0% 0% / 25%);
}

/* -------------------------------- */
/*   CSS-Transition-Group           */
/* -------------------------------- */

@include a.ctg-modal-default;
