@use '#Sass/abstracts/animations' as anim;

.card {
  width: 300px;
  border: 1px solid var(--thm-border-default);
  border-radius: 4px;
  background-color: var(--thm-background-subtle);

  &__upper {
    display: flex;
    column-gap: 12px;
    padding: 12px;
    border-bottom: 1px solid var(--thm-border-default);
  }

  &__lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    &__details {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      font-size: 14px;
      color: var(--thm-text-secondary);
    }

    &__total {
      color: var(--thm-text-secondary);
    }
  }
}

.companyLogo {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.dealInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: -6px;
  overflow: hidden;

  &__upper {
    display: flex;
    align-items: center;
  }

  &__company {
    width: 100%;
    font-size: 14px;
    color: var(--thm-text-secondary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__title {
    font-weight: 700;
    color: var(--thm-text-default);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.card--won {
  background-color: var(--thm-background-success);
  border-color: var(--thm-border-success);

  & .card__upper {
    border-bottom: 1px solid var(--thm-border-success);
  }

  & .dealInfo {
    &__title {
      color: var(--thm-scrumboard-column-won-text-primary);
    }

    &__company {
      color: var(--thm-scrumboard-column-won-text-secondary);
    }
  }
}

.card--lost {
  background-color: var(--thm-background-danger);
  border-color: var(--thm-border-danger);

  & .card__upper {
    border-bottom: 1px solid var(--thm-border-danger);
  }

  & .dealInfo {
    &__title {
      color: var(--thm-scrumboard-column-lost-text-primary);
    }

    &__company {
      color: var(--thm-scrumboard-column-lost-text-secondary);
    }
  }
}

.card--dragging {
  background-color: var(--thm-background-info);
  border-color: var(--thm-border-info);

  & .card__upper {
    border-bottom: 1px solid var(--thm-border-info);
  }

  & .dealInfo {
    &__title {
      color: var(--thm-scrumboard-card-drag-text-primary);
    }

    &__company {
      color: var(--thm-scrumboard-card-drag-text-primary);
    }
  }
}

.dangerCard {
  @include anim.danger-pulse;
}
