.column {
  width: 100%;
  height: 100%;

  &--won {
    border: 1px solid var(--thm-border-success);
    border-radius: 4px;
  }

  &--lost {
    border: 1px solid var(--thm-border-danger);
    border-radius: 4px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 12px 16px;
    border-bottom: 1px solid var(--thm-border-default);
    overflow: hidden;

    &--won {
      background-color: var(--thm-background-success);
      border-color: var(--thm-border-success);
      border-radius: 4px 4px 0 0;
    }

    &--lost {
      background-color: var(--thm-background-danger);
      border-color: var(--thm-border-danger);
      border-radius: 4px 4px 0 0;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0 16px;
    margin-top: 12px;
  }
}

.headerPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerDetails {
  display: flex;
  column-gap: 8px;
  color: white;
  text-transform: uppercase;
}

.headerControls {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.pipelineTotal {
  color: white;
}

.addCardBtn {
  color: white;
}
