@use '#Sass/abstracts/animations' as anim;

.portalContent {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0deg 0% 0% / 25%);
}

.userSettingsModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: fit-content;
  background-color: var(--thm-background-default);
  border: 1px solid var(--thm-border-secondary);
  border-radius: 6px;
}

.titleBar {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  padding: 10px 16px;
  color: var(--thm-text-default);

  &__closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 4px;
    margin-left: auto;

    &:hover {
      background-color: var(--thm-background-element);
    }

    &__svg {
      & path {
        color: var(--thm-icon-default);
      }
    }
  }
}

.userProfile {
  width: 100%;
  padding-inline: 16px;
  background-color: var(--thm-background-subtle);
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 16px;
  row-gap: 20px;
}

/* -------------------------------- */
/*   CSS-Transition-Group           */
/* -------------------------------- */

@include anim.ctg-modal-default;
