@use '#Sass/abstracts/animations' as a;

.userSettings {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: fit-content;
  padding: 10px;
  background-color: white;
}

.titleBar {
  display: flex;
  column-gap: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}

/* -------------------------------- */
/*   CSS-Transition-Group           */
/* -------------------------------- */

@include a.ctg-modal-default;
