.tableControls {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}

.information {
  display: flex;
  align-items: center;
  margin-right: 40px;
  color: var(--thm-text-secondary);
  font-size: 14px;
  transition-property: color;

  &__total {
    color: var(--thm-text-default);
    transition-property: color;
  }
}

.paginator {
  margin-right: 40px;
}
