/* -------------------------------- */
/*           ~ Globals ~            */
/* -------------------------------- */
/*           [CRM System]           */
/* -------------------------------- */
/*   CRM System for TechExpo24      */
/*   [-- INSERT WEB ADDRESS --]     */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/02/2024          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Globals
////

/*   Imports                        */
@use '../abstracts/animations' as anim;
@use '../abstracts/mixins' as mx;

/* -------------------------------- */
/*   Globals                        */
/* -------------------------------- */

html {
  height: 100%;
  font-size: 100%;
  color-scheme: light dark;
}

body {
  position: relative;
  width: 100%;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include mx.scrollbar-base;
  overflow-y: hidden;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: 100%;
}

ul,
ol {
  padding-left: 1em;

  & li {
    padding-left: 1.5em;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;

  &:focus {
    outline: 1px solid transparent;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

input {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:focus {
    outline: 1px solid transparent;
  }

  &::placeholder {
    transition: anim.$theme-transition-background;
  }
}

textarea,
select {
  color-scheme: var(--thm-color-scheme);
}

label {
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.hidden {
  display: none !important;
}

.show {
  display: inherit !important;
}

.modal-open {
  overflow: hidden;
}

.transition * {
  transition: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  /* stylelint-disable-next-line property-no-deprecated */
  clip: rect(0 0 0 0); // Legacy browser support
  clip-path: inset(50%); // Modern browser support
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
}
