/* -------------------------------- */
/*            ~ Themes ~            */
/* -------------------------------- */
/*           [CRM System]           */
/* -------------------------------- */
/*   CRM System for TechExpo24      */
/*   [-- INSERT WEB ADDRESS --]     */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/02/2024          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Themes
////

/*   Imports                        */
@use '../abstracts/colors' as c;

/* -------------------------------- */
/*   Light Theme                    */
/* -------------------------------- */
/*  Referenced in _root.scss        */
/* -------------------------------- */

/// Light Theme Map
/// @type Map
$light-theme: (
  background-header: c.$col-ui-background-light,
  background-main: c.$col-main-background-light,
  background-sidebar: c.$col-ui-background-light,
  background-sidebar-buttons: c.$col-2a-button,
  background-sidebar-buttons-hover: c.$col-3a-button-hover,
  border-ui: c.$col-ui-divider-light,
  button-menutoggle: c.$col-ui-menutoggle-light,
  svg-fill: invert(0),
  // elements: #{$White},
  // elements: #{$White},
  // text-p: #{$Dark_Grey},
  // text-h: #{$Very_Dark_Blue},
  // placeholder: hsl(216deg 5% 57%),
  // input-text: #{$Dark_Grey},,,,,,
);

/* -------------------------------- */
/*   Dark Theme                     */
/* -------------------------------- */

/// Dark Theme Map
/// @type Map
$dark-theme: (
  background-header: c.$col-ui-background-dark,
  background-main: c.$col-main-background-dark,
  background-sidebar: c.$col-ui-background-dark,
  background-sidebar-buttons: rgb(44 44 44),
  background-sidebar-buttons-hover: rgb(88 88 88),
  border-ui: c.$col-ui-divider-dark,
  button-menutoggle: c.$col-ui-menutoggle-dark,
  svg-fill: invert(1),
  // elements: #{$Very_Dark_Blue},
  // text-p: #{$Dark_Grey},
  // text-h: #{$White},
  // placeholder: hsl(216deg 5% 57%),
  // input-text: #{$White},,,,,
);

/// Class applied to body tag to overwrite default variables
/// @require {Map} $dark-theme dark theme map
.dark-theme {
  @each $theme-item, $value in $dark-theme {
    --thm-#{$theme-item}: #{$value};
  }
}

/* -------------------------------- */
/*   Alt Theme                      */
/* -------------------------------- */
