/* -------------------------------- */
/*            ~ Themes ~            */
/* -------------------------------- */
/*           [CRM System]           */
/* -------------------------------- */
/*   CRM System for TechExpo24      */
/*   [-- INSERT WEB ADDRESS --]     */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/02/2024          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Themes
////

/*   Imports                        */
@use '../abstracts/colors' as c;

/* -------------------------------- */
/*   Light Theme                    */
/* -------------------------------- */
/*  Referenced in _root.scss        */
/* -------------------------------- */

/// Light Theme Map
/// @type Map
$light-theme: (
  background-header: c.$col-ui-background-light,
  background-main: c.$col-main-background-light,
  background-sidebar: c.$col-ui-background-light,
  background-sidebar-buttons: c.$col-2a-button,
  background-sidebar-buttons-hover: c.$col-3a-button-hover,
  border-ui: c.$col-ui-divider-light,
  sidebar-button-hover: c.$col-ui-button-hover-light,
  sidebar-button-active: c.$col-ui-button-active-light,
  sidebar-button-text-active: c.$col-ui-button-text-active-light,
  sidebar-button-text-inactive: c.$col-ui-button-text-inactive-light,
  sidebar-button-svg-active: invert(24%) sepia(85%) saturate(1942%) hue-rotate(197deg) brightness(103%) contrast(106%),
  button-menutoggle: c.$col-ui-menutoggle-light,
  button-secondary-text: c.$col-button-secondary-text-light,
  button-secondary-background: c.$col-button-secondary-background-light,
  button-secondary-border: c.$col-button-secondary-border-light,
  button-secondary-hover: c.$col-button-secondary-hover-light,
  svg-fill: invert(0),
  notification-indicator-read: c.$col-ui-notification-indicator-read,
  notification-indicator-unread: c.$col-ui-notification-indicator-unread,
  // elements: #{$White},
  // elements: #{$White},
  // text-p: #{$Dark_Grey},
  // text-h: #{$Very_Dark_Blue},
  // placeholder: hsl(216deg 5% 57%),
  // input-text: #{$Dark_Grey},,,,,,
);

/* -------------------------------- */
/*   Dark Theme                     */
/* -------------------------------- */

/// Dark Theme Map
/// @type Map
$dark-theme: (
  background-header: c.$col-ui-background-dark,
  background-main: c.$col-main-background-dark,
  background-sidebar: c.$col-ui-background-dark,
  border-ui: c.$col-ui-divider-dark,
  sidebar-button-hover: c.$col-ui-button-hover-dark,
  sidebar-button-active: c.$col-ui-button-active-dark,
  sidebar-button-text-active: c.$col-ui-button-text-active-dark,
  sidebar-button-text-inactive: c.$col-ui-button-text-inactive-dark,
  sidebar-button-svg-active: invert(66%) sepia(48%) saturate(3805%) hue-rotate(186deg) brightness(100%) contrast(104%),
  button-menutoggle: c.$col-ui-menutoggle-dark,
  button-secondary-text: c.$col-button-secondary-text-dark,
  button-secondary-background: c.$col-button-secondary-background-dark,
  button-secondary-border: c.$col-button-secondary-border-dark,
  button-secondary-hover: c.$col-button-secondary-hover-dark,
  svg-fill: invert(1),
  notification-indicator-read: c.$col-ui-notification-indicator-read,
  notification-indicator-unread: c.$col-ui-notification-indicator-unread,
  // elements: #{$Very_Dark_Blue},
  // text-p: #{$Dark_Grey},
  // text-h: #{$White},
  // placeholder: hsl(216deg 5% 57%),
  // input-text: #{$White},,,,,,
);

/// Class applied to body tag to overwrite default variables
/// @require {Map} $dark-theme dark theme map
.dark-theme {
  @each $theme-item, $value in $dark-theme {
    --thm-#{$theme-item}: #{$value};
  }
}

/* -------------------------------- */
/*   Alt Theme                      */
/* -------------------------------- */
