/* -------------------------------- */
/*            ~ Themes ~            */
/* -------------------------------- */
/*           [CRM System]           */
/* -------------------------------- */
/*   CRM System for TechExpo24      */
/*   [-- INSERT WEB ADDRESS --]     */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/02/2024          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Themes
////

/*   Imports                        */
@use '../abstracts/colors' as c;

/* -------------------------------- */
/*   Light Theme                    */
/* -------------------------------- */
/*  Referenced in _root.scss        */
/* -------------------------------- */

/// Light Theme Map
/// @type Map
$light-theme: (
  // Backgrounds
  background-default: hsl(0deg 0% 100%),
  background-screen: c.$col-slate1-light,
  background-subtle: c.$col-slate4-light,
  background-element: c.$col-slate3-light,
  background-hover: c.$col-slate4-light,
  background-selected: c.$col-slate5-light,
  background-overlay: c.$col-slate2-light,
  background-success: c.$col-green3-light,
  background-warning: c.$col-yellow3-light,
  background-danger: c.$col-red3-light,
  background-info: c.$col-blue3-light,
  // Icons
  icon-default: c.$col-slate11-light,
  icon-secondary: c.$col-slate10-light,
  icon-tertiary: c.$col-slate9-light,
  icon-quaternary: c.$col-slate8-light,
  icon-success: c.$col-green10-light,
  icon-warning: c.$col-yellow11-light,
  icon-danger: c.$col-red10-light,
  icon-info: c.$col-blue10-light,
  // Text
  text-default: c.$col-slate12-light,
  text-secondary: c.$col-slate11-light,
  text-tertiary: c.$col-slate10-light,
  text-quaternary: c.$col-slate9-light,
  text-link: c.$col-blue11-light,
  text-success: c.$col-green11-light,
  text-warning: c.$col-yellow11-light,
  text-danger: c.$col-red11-light,
  text-info: c.$col-blue11-light,
  // Borders
  border-default: c.$col-slate7-light,
  border-secondary: c.$col-slate6-light,
  // border-success: c.$col-green7-light,
  // border-warning: c.$col-yellow7-light,
  border-danger: c.$col-red7-light,
  border-info: c.$col-blue7-light,
  // Buttons
  button-primary-background: c.$col-blue10-light,
  button-primary-border: c.$col-blue10-light,
  button-primary-hover: c.$col-blue11-light,
  button-primary-icon: c.$col-blue3-light,
  button-primary-text: c.$col-white,
  button-primary-disabled-background: c.$col-blue7-light,
  button-primary-disabled-border: c.$col-blue7-light,
  button-primary-disabled-text: c.$col-white,
  button-primary-destructive-background: c.$col-red10-light,
  button-secondary-background: c.$col-white,
  button-secondary-border: c.$col-slate8-light,
  button-secondary-hover: c.$col-slate3-light,
  button-secondary-icon: c.$col-slate11-light,
  button-secondary-text: c.$col-slate12-light,
  button-secondary-disabled-background: c.$col-white,
  button-secondary-disabled-border: c.$col-slate6-light,
  button-secondary-disabled-text: c.$col-slate9-light,
  button-tertiary-background: transparent,
  button-tertiary-border: transparent,
  button-tertiary-hover: c.$col-blue4-light,
  button-tertiary-icon: c.$col-blue9-light,
  button-tertiary-text: c.$col-blue10-light,
  button-tertiary-disabled-background: transparent,
  button-tertiary-disabled-border: transparent,
  button-tertiary-disabled-text: c.$col-blue8-light,
  button-quaternary-background: transparent,
  button-quaternary-border: transparent,
  button-quaternary-hover: c.$col-slate4-light,
  button-quaternary-icon: c.$col-slate11-light,
  button-quaternary-text: c.$col-slate12-light,
  button-quaternary-disabled-background: transparent,
  button-quaternary-disabled-border: transparent,
  button-quaternary-disabled-text: c.$col-slate9-light,
  // Shadows
  // States
  success-primary: c.$col-green10-light,
  danger-primary: c.$col-red11-light,
  neutral-primary: c.$col-blue10-light
);

/* -------------------------------- */
/*   Dark Theme                     */
/* -------------------------------- */

/// Dark Theme Map
/// @type Map
$dark-theme: (
  // Global; target user style sheets i.e. webkit-autofill; targets input, textarea, select; see globals.scss
  color-scheme: dark,
  // Backgrounds
  background-default: c.$col-slate1-dark,
  background-screen: hsl(210deg 8% 5%),
  background-subtle: c.$col-slate4-dark,
  background-element: c.$col-slate3-dark,
  background-hover: c.$col-slate4-dark,
  background-selected: c.$col-slate5-dark,
  background-overlay: c.$col-slate2-dark,
  background-success: c.$col-green3-light,
  background-warning: c.$col-yellow3-light,
  background-danger: c.$col-red3-light,
  background-info: c.$col-blue3-dark,
  // Icons
  icon-default: c.$col-slate11-dark,
  icon-secondary: c.$col-slate10-dark,
  icon-tertiary: c.$col-slate9-dark,
  icon-quaternary: c.$col-slate8-dark,
  icon-success: c.$col-green10-dark,
  icon-warning: c.$col-yellow11-dark,
  icon-danger: c.$col-red10-dark,
  icon-info: c.$col-blue10-dark,
  // Text
  text-default: c.$col-slate12-dark,
  text-secondary: c.$col-slate11-dark,
  text-tertiary: c.$col-slate10-dark,
  text-quaternary: c.$col-slate9-dark,
  text-link: c.$col-blue11-dark,
  text-success: c.$col-green11-dark,
  text-warning: c.$col-yellow11-dark,
  text-danger: c.$col-red11-dark,
  text-info: c.$col-blue11-dark,
  // Borders
  border-default: c.$col-slate7-dark,
  border-secondary: c.$col-slate6-dark,
  // border-success: c.$col-green7-dark,
  // border-warning: c.$col-yellow7-dark,
  border-danger: c.$col-red7-dark,
  border-info: c.$col-blue7-dark,
  // Buttons
  button-primary-background: c.$col-blue8-dark,
  button-primary-border: c.$col-blue8-dark,
  button-primary-hover: c.$col-blue7-dark,
  button-primary-icon: c.$col-blue12-dark,
  button-primary-text: c.$col-white,
  button-primary-disabled-background: c.$col-blue7-dark,
  button-primary-disabled-border: c.$col-blue7-dark,
  button-primary-disabled-text: c.$col-slate11-dark,
  button-primary-destructive-background: c.$col-red8-dark,
  button-secondary-background: c.$col-slate3-dark,
  button-secondary-border: c.$col-slate8-dark,
  button-secondary-hover: c.$col-slate4-dark,
  button-secondary-icon: c.$col-slate12-dark,
  button-secondary-text: c.$col-white,
  button-secondary-disabled-background: c.$col-slate1-dark,
  button-secondary-disabled-border: c.$col-slate7-dark,
  button-secondary-disabled-text: c.$col-slate11-dark,
  button-tertiary-background: transparent,
  button-tertiary-border: transparent,
  button-tertiary-hover: c.$col-blue4-dark,
  button-tertiary-icon: c.$col-blue10-dark,
  button-tertiary-text: c.$col-blue11-dark,
  button-tertiary-disabled-background: transparent,
  button-tertiary-disabled-border: transparent,
  button-tertiary-disabled-text: c.$col-blue9-dark,
  button-quaternary-background: transparent,
  button-quaternary-border: transparent,
  button-quaternary-hover: c.$col-slate4-dark,
  button-quaternary-icon: c.$col-slate12-dark,
  button-quaternary-text: c.$col-white,
  button-quaternary-disabled-background: transparent,
  button-quaternary-disabled-border: transparent,
  button-quaternary-disabled-text: c.$col-slate11-dark,
  // Shadows
  // States
  success-primary: c.$col-green10-dark,
  danger-primary: c.$col-red11-dark,
  neutral-primary: c.$col-blue10-dark
);

/// Class applied to body tag to overwrite default variables
/// @require {Map} $dark-theme dark theme map
.dark-theme {
  @each $theme-item, $value in $dark-theme {
    --thm-#{$theme-item}: #{$value};
  }
}

.theme-transition-duration {
  *,
  *::before,
  *::after {
    transition-duration: 1s !important;
  }
}

/* -------------------------------- */
/*   Alt Theme                      */
/* -------------------------------- */
