/* -------------------------------- */
/*         ~ Media Queries ~        */
/* -------------------------------- */
/*      [Audiophile eCommerce]      */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      26/05/2023          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Media-Queries
////

/*   Imports                        */

/* -------------------------------- */
/*   Breakpoints                    */
/* -------------------------------- */

/// Media-Query Breakpoint: Mobile Small
/// @type Number (px)
$mobile-s: 320px;

/// Media-Query Breakpoint: Mobile Medium
/// @type Number (px)
$mobile-m: 375px;

/// Media-Query Breakpoint: Mobile Large
/// @type Number (px)
$mobile-l: 480px;

/// Media-Query Breakpoint: Tablet Extra-Small
/// @type Number (px)
$tablet-xs: 576px;

/// Media-Query Breakpoint: Tablet Small
/// @type Number (px)
$tablet-s: 667px;

/// Media-Query Breakpoint: Tablet Medium
/// @type Number (px)
$tablet-m: 768px;

/// Media-Query Breakpoint: Tablet Large
/// @type Number (px)
$tablet-l: 800px;

/// Media-Query Breakpoint: Tablet Extra-large
/// @type Number (px)
$tablet-xl: 992px;

/// Media-Query Breakpoint: Desktop Extra-small
/// @type Number (px)
$desktop-xs: 1024px;

/// Media-Query Breakpoint: Desktop Small
/// @type Number (px)
$desktop-s: 1200px;

/// Media-Query Breakpoint: Desktop Medium
/// @type Number (px)
$desktop-m: 1400px;

/// Media-Query Breakpoint: Desktop Large
/// @type Number (px)
$desktop-l: 1920px;

/* -------------------------------- */
/*   Mixin Ranges                   */
/* -------------------------------- */

// @include media(...) {...}

// 320 - 375       --- mobile-small
// 375 - 480       --- mobile-large
// 480 - 576       --- tablet-micro
// 576 - 667       --- tablet-mini
// 667 - 768       --- tablet-small
// 768 - 800       --- tablet-regular
// 800 - 992       --- tablet-large
// 992 - 1024      --- desktop-micro
// 1024 - 1200     --- desktop-mini
// 1200 - 1400     --- desktop-small
// 1400 - 1920     --- desktop-medium
// 1920 >          --- desktop-large

// < 480           --- mobile-all
// 480 - 992       --- tablet-all
// > 992           --- desktop-all

/* -------------------------------- */
/*   Media Queries: Multiple        */
/* -------------------------------- */

/// Provide one or more media-query mixins to target an element
/// @parameter {String} $args - One or more media-query mixin names as strings.
/// @example
///   @include media(mobile-small, mobile-large) {
///     background-color: red;
///   }
@mixin media($args...) {
  @each $arg in $args {
    @if $arg == 'mobile-small' {
      @include mobile-small {
        @content;
      }
    }
    @if $arg == 'mobile-large' {
      @include mobile-large {
        @content;
      }
    }
    @if $arg == 'mobile-all' {
      @include mobile-all {
        @content;
      }
    }
    @if $arg == 'tablet-micro' {
      @include tablet-micro {
        @content;
      }
    }
    @if $arg == 'tablet-mini' {
      @include tablet-mini {
        @content;
      }
    }
    @if $arg == 'tablet-small' {
      @include tablet-small {
        @content;
      }
    }
    @if $arg == 'tablet-regular' {
      @include tablet-regular {
        @content;
      }
    }
    @if $arg == 'tablet-large' {
      @include tablet-large {
        @content;
      }
    }
    @if $arg == 'tablet-all' {
      @include tablet-all {
        @content;
      }
    }
    @if $arg == 'desktop-micro' {
      @include desktop-micro {
        @content;
      }
    }
    @if $arg == 'desktop-mini' {
      @include desktop-mini {
        @content;
      }
    }
    @if $arg == 'desktop-small' {
      @include desktop-small {
        @content;
      }
    }
    @if $arg == 'desktop-medium' {
      @include desktop-medium {
        @content;
      }
    }
    @if $arg == 'desktop-large' {
      @include desktop-large {
        @content;
      }
    }
    @if $arg == 'desktop-all' {
      @include desktop-all {
        @content;
      }
    }
  }
}

/* -------------------------------- */
/*   Media Queries: Specific        */
/* -------------------------------- */

/// Media-query targeting small mobile screens.
@mixin mobile-small {
  @media only screen and (width < #{$mobile-m}) {
    @content;
  }
}

/// Media-query targeting large mobile screens.
@mixin mobile-large {
  @media only screen and (#{$mobile-m} <= width <= #{$mobile-l}) {
    @content;
  }
}

/// Media-query targeting all mobile screens.
@mixin mobile-all {
  @media only screen and (width <= #{$mobile-l}) {
    @content;
  }
}

/// Media-query targeting micro tablet screens.
@mixin tablet-micro {
  @media only screen and (#{$mobile-l} < width < #{$tablet-xs}) {
    @content;
  }
}

/// Media-query targeting mini tablet screens.
@mixin tablet-mini {
  @media only screen and (#{$tablet-xs} <= width < #{$tablet-s}) {
    @content;
  }
}

/// Media-query targeting small tablet screens.
@mixin tablet-small {
  @media only screen and (#{$tablet-s} <= width < #{$tablet-m}) {
    @content;
  }
}

/// Media-query targeting regular tablet screens.
@mixin tablet-regular {
  @media only screen and (#{$tablet-m} <= width < #{$tablet-l}) {
    @content;
  }
}

/// Media-query targeting large tablet screens.
@mixin tablet-large {
  @media only screen and (#{$tablet-l} <= width < #{$tablet-xl}) {
    @content;
  }
}

/// Media-query targeting all tablet screens.
@mixin tablet-all {
  @media only screen and (#{$mobile-l} < width <= #{$tablet-xl}) {
    @content;
  }
}

/// Media-query targeting micro desktop screens.
@mixin desktop-micro {
  @media only screen and (#{$tablet-xl} <= width < #{$desktop-xs}) {
    @content;
  }
}

/// Media-query targeting mini desktop screens.
@mixin desktop-mini {
  @media only screen and (#{$desktop-xs} <= width < #{$desktop-s}) {
    @content;
  }
}

/// Media-query targeting small desktop screens.
@mixin desktop-small {
  @media only screen and (#{$desktop-s} <= width < #{$desktop-m}) {
    @content;
  }
}

/// Media-query targeting medium desktop screens.
@mixin desktop-medium {
  @media only screen and (#{$desktop-m} <= width < #{$desktop-l}) {
    @content;
  }
}

/// Media-query targeting large desktop screens.
@mixin desktop-large {
  @media only screen and (#{$desktop-l} <= width) {
    @content;
  }
}

/// Media-query targeting all desktop screens.
@mixin desktop-all {
  @media only screen and (#{$tablet-xl} <= width) {
    @content;
  }
}
