@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.aside {
  @include mx.ui-border(border-right);
  position: relative;
  width: v.$aside-dim-width-maximized;
  height: 100%;
  padding: v.$aside-padding-maximized;
  background: var(--thm-background-sidebar);
  transition:
    a.$theme-transition-background,
    a.$theme-transition-border-color,
    width 600ms ease-in-out;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    height: 100%;
    padding-left: unset;
  }

  &__menuButton {
    @include mx.ui-border(border-right);
    position: absolute;
    bottom: 20px;
    right: -22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: var(--thm-background-sidebar);
    border-radius: 8px;
    transition: a.$theme-transition-background, a.$theme-transition-border-color;

    &::before {
      content: '';
      position: absolute;
      top: -45px;
      left: 22.5px;
      width: 45px;
      height: 45px;
      border-bottom-left-radius: 16px;
      box-shadow: -15px 0 0 0 var(--thm-background-sidebar);
      transition: a.$theme-transition-boxshadow;
    }
  }

  &--minimize {
    position: relative;
    width: v.$aside-dim-width-minimized;
    padding: v.$aside-padding-minimized;
    transition:
      a.$theme-transition-background,
      a.$theme-transition-border-color,
      width 300ms ease-in-out;
  }
}
