@use '#Sass/abstracts/variables' as v;

.aside {
  position: relative;
  width: v.$aside-dim-width-maximized;
  height: 100%;
  padding: v.$aside-padding-maximized;
  background-color: white;
  transition: width 600ms ease-in-out;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    height: 100%;
    padding-left: unset;
  }

  &__menuButton {
    position: absolute;
    bottom: 20px;
    right: -22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 8px;

    &::before {
      content: '';
      position: absolute;
      top: -45px;
      left: 22.5px;
      width: 45px;
      height: 45px;
      border-bottom-left-radius: 16px;
      box-shadow: -15px 0 0 0 white;
    }
  }

  &--minimize {
    position: relative;
    width: v.$aside-dim-width-minimized;
    padding: v.$aside-padding-minimized;
    transition: width 300ms ease-in-out;
  }
}
