@use '@Sass/abstracts/colors' as col;

$height: 44px;

/*
 * TODO: Theme colors for dark/light - currently hardcoding the colors from the table-elements (also need to extract the
 * colors into themes there too)
*/
.quoteStatusUpdater {
  display: flex;
  height: $height;
  margin: 32px 0;

  &__draft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    color: var(--thm-text-tertiary);
    border-top-left-radius: calc($height / 2);
    border-bottom-left-radius: calc($height / 2);
  }

  &__sent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    background-color: var(--thm-background-subtle);
    color: var(--thm-text-tertiary);
  }

  &__accepted {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    background-color: var(--thm-background-subtle);
    color: var(--thm-text-tertiary);
    border-top-right-radius: calc($height / 2);
    border-bottom-right-radius: calc($height / 2);
  }
}

.draft {
  & > button:nth-of-type(-n + 1) {
    color: var(--thm-text-default);
    background-color: col.$col-sky7-dark;
  }
}

.sent {
  & > button:nth-of-type(-n + 2) {
    background-color: col.$col-sky11-dark;
    color: var(--thm-text-default);
  }
}

.accepted {
  & > button:nth-of-type(-n + 3) {
    background-color: col.$col-lime11-dark;
    color: var(--thm-text-default);
  }
}
