/* stylelint-disable property-no-unknown */
@use 'variables' as var;

// Export SASS variables for consumption inside JS
/*   Exports                        */
:export {
  // hot-toast styling
  color-toast-magenta: var.$magenta;
  color-toast-royalblue: var.$royal-blue;
  color-toast-red: var.$toast-red;
  color-toast-muteblue: var.$toast-mute-blue;
}
