@use '#Sass/abstracts/animations' as anim;
@use '#Sass/abstracts/mixins' as mx;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: transparent;
  transition: anim.$theme-transition-background, anim.$icon-hover-vertical-transition;

  &:hover {
    transform: anim.$icon-hover-vertical-transform;
  }

  &__button {
    @include mx.extend-clickarea($x: 125%, $y: 125%, $visible: false);
    border-radius: 8px;
  }

  &__svg {
    color: var(--thm-icon-default);
    transition:
      anim.$theme-transition-color,
      transform 500ms ease-in 200ms;
    transform-origin: center;

    &--reverse {
      transform: scale(-1);
    }
  }
}
