@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/mixins' as mx;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--thm-background-sidebar);
  transition: a.$theme-transition-background, a.$icon-hover-vertical-transition;

  &:hover {
    transform: a.$icon-hover-vertical-transform;
  }

  &__button {
    @include mx.extend-clickarea($x: 125%, $y: 125%, $visible: false);
    border-radius: 8px;
  }

  &__svg {
    fill: var(--thm-button-menutoggle);
    transition:
      a.$theme-transition-fill,
      transform 500ms ease-in 200ms;
    transform-origin: center;

    &--reverse {
      transform: scale(-1);
    }
  }
}
