@use '#Sass/abstracts/animations' as anim;
@use '#Sass/abstracts/variables' as var;

// Calculations for animation when toggling sidebar min/maximize
$icon-dim: var.$svg-dim-width;
$menulink-padding: 10px;
$list-item-dim-x: calc(var.$aside-dim-width-minimized - (var.$aside-padding-minimized * 2));
$list-item-centre-x: calc($list-item-dim-x / 2);
$icon-centre-offset-from-list-item-edge: calc(($icon-dim / 2) + $menulink-padding);
$translate-icon-x: calc($list-item-centre-x - $icon-centre-offset-from-list-item-edge);

.menuLink {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: $menulink-padding;
  border-radius: 6px;
  list-style: none;
  transition: anim.$theme-transition-color, anim.$theme-transition-background, anim.$button-hover-sidebar;

  &__iconContainer {
    transition:
      anim.$sidebar-menu-button-icon,
      transform 250ms;
    min-width: $icon-dim;
    max-width: $icon-dim;
    height: $icon-dim;
  }

  &__svg {
    color: var(--thm-icon-default);
    transition: anim.$theme-transition-color;
  }

  &__text {
    width: 100%;
    color: var(--thm-text-default);
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-wrap: nowrap;
    opacity: 1;
    transition:
      width 500ms,
      opacity 750ms 150ms; // Fade In

    // Link click area
    &::before {
      content: '';
      position: absolute;
      background-color: transparent;
      inset: 0;
    }
  }

  &--minimize {
    position: relative;
    column-gap: 0;
    transition:
      anim.$theme-transition-background,
      column-gap 0ms 500ms;

    & .menuLink__iconContainer {
      animation: translate-icon-minimize 500ms cubic-bezier(0.54, 0.46, 0.18, 3) forwards
        calc((var(--index) * (50ms - (var(--index) * 1.5ms))) + 150ms);
    }

    & .menuLink__text {
      width: 0;
      opacity: 0;
      transition:
        width 500ms,
        opacity 200ms ease-out; // Fade Out
    }
  }

  &--maximize {
    & .menuLink__iconContainer {
      animation: translate-icon-maximize 500ms ease-out forwards;
    }
  }

  &__activeRoute {
    background-color: var(--thm-background-info);

    &:hover {
      background-color: var(--thm-background-info);

      & .menuLink__iconContainer {
        transform: translateY(0);
      }
    }

    & .menuLink__text {
      color: var(--thm-text-link);
    }

    & .menuLink__svg {
      color: var(--thm-icon-info);
    }
  }

  &:hover {
    background-color: var(--thm-background-subtle);

    & .menuLink__iconContainer {
      transform: translateY(-10%);
    }
  }
}

@keyframes translate-icon-minimize {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX($translate-icon-x);
  }
}

@keyframes translate-icon-maximize {
  0% {
    transform: translateX($translate-icon-x);
  }

  100% {
    transform: translateX(0);
  }
}
