.auditDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  width: fit-content;
  padding: 4px 8px;
  background-color: grey;
  border-radius: 6px;
  border: 1px solid grey;

  &__svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    color: var(--thm-icon-info);
    border-color: var(--thm-icon-info);
  }
}
