@use '#Sass/abstracts/animations' as a;

.tableGridView {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 16px 32px;
  padding: 16px;
  border: 1px solid var(--thm-border-default);
  border-radius: 6px;
  transition: a.$theme-transition-border-color;
}
