/* -------------------------------- */
/*        ~ Form Elements ~         */
/* -------------------------------- */
/*           [CRM System]           */
/* -------------------------------- */
/*   CRM System for TechExpo24      */
/*   [-- INSERT WEB ADDRESS --]     */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/02/2024          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use '../abstracts/functions' as f;
@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as v;
@use '../base/themes' as t;
@use '../components/buttons' as btn;

$border-radius: 8px;

@mixin form-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 40px;
  background-color: var(--thm-background-subtle);
  border-radius: $border-radius;
  box-shadow: 0 0 10px 2px hsla(0deg 0% 0% / 15%);
}

/* -------------------------------- */
/*   Buttons                        */
/* -------------------------------- */

@mixin submit-button {
  @include btn.btn-root;
  cursor: pointer;
  background-color: hsl(113deg 100% 28%);
  border-radius: $border-radius;

  &:disabled {
    opacity: 0.5;
  }
}

@mixin info-button {
  @include btn.btn-root;

  &:hover {
    background-color: var(--thm-button-primary-hover);
  }
}

/* -------------------------------- */
/*   Input Fields                   */
/* -------------------------------- */

$input-height: 50px;
$input-padding: 16px;
$input-background-color: transparent;
$input-color-active: var(--thm-border-info);
$input-color-success: var(--thm-success-primary);
$input-color-danger: var(--thm-border-danger);
$input-border: 1px solid var(--thm-button-secondary-border);
$input-text: var(--thm-text-default);
$input-placeholder: var(--thm-icon-secondary);
$input-border-radius: 8px;

@mixin input-base {
  width: 100%;
  border: none;
  outline: none;
}

@mixin input-container {
  display: flex;
  width: 100%;
}

@mixin input-focus-within {
  &:focus-within {
    border-color: $input-color-active;
    box-shadow: 0 0 0 1px $input-color-active;
  }
}

@mixin input-valid {
  box-shadow: 0 0 0 1px $input-color-success;
  border-color: $input-color-success;

  &:focus-within {
    border-color: $input-color-success;
    box-shadow: 0 0 0 1px $input-color-success;
  }
}

@mixin input-validated {
  animation: pulse 1s;
  box-shadow: 0 0 0 10px transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $input-color-success;
  }
}
