@use '#Sass/components/form' as form;

$padding: 16px;

.buttonIncrement__svg,
.buttonDecrement__svg {
  width: 24px;
  height: 24px;
}

.success {
  position: relative;
  @include form.input-valid;

  &::before {
    display: none;
  }

  &::after {
    @include form.input-validated;
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
  }

  &:has(.select:is([data-open], [data-focused], [data-focus-visible], [data-required])) {
    @include form.input-valid;
  }

  & .select {
    &:is(:focus, :not(:placeholder-shown)) .label {
      padding-inline: 4px;
      font-size: 12px;
      color: form.$input-color-success;
      transform: translate(calc($padding / -2), calc(-1 * $padding) - 7px);
    }
  }
}
