@use '#Sass/components/form' as form;

$padding: 16px;
@mixin button-svg {
  width: 24px;
  height: 24px;
}

.numberField {
  width: 100%;
  padding-left: $padding;
  border-radius: inherit;
  overflow: hidden;
}

.group {
  display: grid;
  grid-template:
    'input increment'
    'input decrement' / 1fr auto;
  width: 100%;
}

.input {
  grid-area: input;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.buttonIncrement {
  grid-area: increment;
  background-color: var(--thm-background-default);
  width: fit-content;

  &__svg {
    @include button-svg;
  }
}

.buttonDecrement {
  grid-area: decrement;
  background-color: var(--thm-background-default);
  width: fit-content;

  &__svg {
    @include button-svg;
  }
}

.success {
  position: relative;
  @include form.input-valid;

  &::before {
    display: none;
  }

  &::after {
    @include form.input-validated;
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
  }

  &:has(.select:is([data-open], [data-focused], [data-focus-visible], [data-required])) {
    @include form.input-valid;
  }

  & .select {
    &:is(:focus, :not(:placeholder-shown)) .label {
      padding-inline: 4px;
      font-size: 12px;
      color: form.$input-color-success;
      transform: translate(calc($padding / -2), calc(-1 * $padding) - 7px);
    }
  }
}
