.container {
  background: #000;
}

.error {
  background-color: red;
}

.result {
  width: 100px;
  height: 5px;
  background-color: transparent;

  &--0 {
    background-color: red;
  }

  &--1 {
    background-color: orange;
  }

  &--2 {
    background-color: yellow;
  }

  &--3 {
    background-color: rgb(83 128 0);
  }

  &--4 {
    background-color: green;
  }
}

.loading {
  background-color: blue;
}
