$width: 100px;
$angle: 135deg;
$stripe-color: hsl(0deg 0% 50% / 10%);

@mixin animation-styling {
  background: repeating-linear-gradient(
    $angle,
    $stripe-color 0,
    $stripe-color 25px,
    transparent 25px,
    transparent 50px,
    $stripe-color 50px
  );
  background-size: calc($width/sin($angle)) 100%;
  animation: loading 1s linear reverse infinite;
}

.container {
  pointer-events: none;
}

.wrapper {
  @include animation-styling;

  &__input,
  &__label {
    background-color: transparent !important;
  }

  &__icons {
    opacity: 0.15;
  }
}

.result {
  @include animation-styling;
}

@keyframes loading {
  0% {
    background-position: calc($width/sin($angle)) 0;
  }
}
