.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  background-color: white;

  &__img {
    width: 45px;
    height: 45px;
    padding: 8px;
  }

  &__focusIcon {
    display: inline-block;
    padding: 2px 6px;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    color: hsl(0deg 0% 20%);
    background-color: hsl(0deg 0% 93%);
    border: 1px solid hsl(0deg 0% 71%);
    border-radius: 3px;
    box-shadow:
      0 1px 1px hsla(0deg 0% 0% / 20%),
      0 2px 0 0 hsla(0deg 0% 100% / 70%) inset;
  }

  // Remove the 'X' cancel button within the input
  & > input[type='search']::-webkit-search-cancel-button {
    display: none;
  }
}
