@use '#Sass/abstracts/animations' as anim;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/ux' as ux;
@use '#Sass/abstracts/variables' as var;
@use '#Sass/components/aria-react' as aria;

.searchModal {
  display: flex;
  flex-direction: column;
  background-color: var(--thm-background-default);
  border: 1px solid var(--thm-border-secondary);
  height: 500px;
  border-radius: 6px;
}

.searchForm {
  display: flex;
  align-items: center;
  margin: 16px 16px 12px;
  background-color: transparent;
  border: 1px solid var(--thm-button-secondary-border);
  border-radius: 6px;

  &:hover {
    @include ux.input-ux-primary-hover;
  }

  &:has(.searchForm__input:focus) {
    @include ux.input-ux-primary-focus;
  }

  &__svg {
    width: var.$svg-dim-width;
    height: var.$svg-dim-height;
    margin: 12px;

    & > path {
      color: var(--thm-icon-default);
    }
  }

  &__input {
    @include aria.react-aria-outline;
    width: 100%;
    background-color: transparent;

    // Remove the 'X' cancel button within the input
    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  &__closeBtn {
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 4px;
    margin-right: 6px;

    &:hover {
      background-color: var(--thm-background-element);
    }

    &__svg {
      & path {
        color: var(--thm-icon-default);
      }
    }
  }
}

.searchResults {
  @include mx.scrollbar-portal-base;
  height: 100%;
  padding: 0 16px;
  border-top: 1px solid var(--thm-button-secondary-border);
  border-bottom: 1px solid var(--thm-button-secondary-border);
  overflow-y: scroll;
  scroll-behavior: smooth;

  &__title {
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    color: var(--thm-text-secondary);
  }
}

.searchControls {
  display: flex;
  column-gap: 16px;
  height: 50px;
  padding: 0 16px;
}

.searchControl {
  display: flex;
  align-items: center;
  column-gap: 5px;

  &:nth-child(4) {
    margin-left: auto;
  }

  &__searchSpan {
    font-size: 12px;
    color: var(--thm-text-tertiary);
  }

  &__searchKey {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 22px;
    padding: 7px;
    margin-left: auto;
    color: var(--thm-text-secondary);
    background-color: var(--thm-background-subtle);
    border: 1px solid var(--thm-border-default);
    border-radius: 6px;
    transition: anim.$theme-transition-background, anim.$theme-transition-border-color;
  }

  &__logoSvg {
    width: 77px;
    height: 100%;
    filter: grayscale(1) opacity(0.5);
  }
}
