/* -------------------------------- */
/*           ~ Colors ~             */
/* -------------------------------- */
/*           [CRM System]           */
/* -------------------------------- */
/*   CRM System for TechExpo24      */
/*   [-- INSERT WEB ADDRESS --]     */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/02/2024          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Colors
////

/*   Imports                        */
@use 'variables' as *;

/* -------------------------------- */
/*   UI                             */
/* -------------------------------- */

$col-ui-background-light: hsl(0deg 0% 100%);
$col-ui-background-dark: hsl(218deg 16% 10%);
$col-ui-menutoggle-dark: hsl(0deg 0% 100%);
$col-ui-menutoggle-light: hsl(218deg 16% 10%);
$col-ui-divider-light: hsl(0deg 0% 89%);
$col-ui-divider-dark: hsl(218deg 10% 16%);
$col-ui-text-light: hsl(228deg 7% 15%);
$col-ui-text-dark: hsl(0deg 0% 89%);
$col-main-background-light: hsl(220deg 27% 98%);
$col-main-background-dark: hsl(218deg 25% 6%);

/* -------------------------------- */
/*   Sidebar                        */
/* -------------------------------- */

/// Primary - Dark Grey - Sidebar Menu Text
/// @type Color
$col-1a-text: hsl(0deg 0% 15%);

/// Primary - Light Grey - Sidebar Menu Items Background
/// @type Color
$col-2a-button: hsl(0deg 0% 96%);

/// Primary - Light Grey - Sidebar Menu Items Background
/// @type Color
$col-3a-button-hover: hsl(0deg 0% 85%);
