/* -------------------------------- */
/*           ~ Colors ~             */
/* -------------------------------- */
/*           [CRM System]           */
/* -------------------------------- */
/*   CRM System for TechExpo24      */
/*   [-- INSERT WEB ADDRESS --]     */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/02/2024          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Colors
////

/*   Imports                        */
@use 'variables' as *;

/* -------------------------------- */
/*   Radix UI Palette               */
/* -------------------------------- */

// Base
$col-white: #fff;
$col-black: #000;

// Slate
$col-slate1-light: hsl(206deg 30% 98.8%);
$col-slate2-light: hsl(210deg 16.7% 97.6%);
$col-slate3-light: hsl(209deg 13.3% 95.3%);
$col-slate4-light: hsl(209deg 12.2% 93.2%);
$col-slate5-light: hsl(208deg 11.7% 91.1%);
$col-slate6-light: hsl(208deg 11.3% 88.9%);
$col-slate7-light: hsl(207deg 11.1% 85.9%);
$col-slate8-light: hsl(205deg 10.7% 78%);
$col-slate9-light: hsl(206deg 6% 56.1%);
$col-slate10-light: hsl(206deg 5.8% 52.3%);
$col-slate11-light: hsl(206deg 6% 43.5%);
$col-slate12-light: hsl(206deg 24% 9%);
$col-slate1-dark: hsl(200deg 7% 8.8%);
$col-slate2-dark: hsl(195deg 7.1% 11%);
$col-slate3-dark: hsl(197deg 6.8% 13.6%);
$col-slate4-dark: hsl(198deg 6.6% 15.8%);
$col-slate5-dark: hsl(199deg 6.4% 17.9%);
$col-slate6-dark: hsl(201deg 6.2% 20.5%);
$col-slate7-dark: hsl(203deg 6% 24.3%);
$col-slate8-dark: hsl(207deg 5.6% 31.6%);
$col-slate9-dark: hsl(206deg 6% 43.9%);
$col-slate10-dark: hsl(206deg 5.2% 49.5%);
$col-slate11-dark: hsl(206deg 6% 63%);
$col-slate12-dark: hsl(210deg 6% 93%);

// Blue
$col-blue1-light: hsl(206deg 100% 99.2%);
$col-blue2-light: hsl(210deg 100% 98%);
$col-blue3-light: hsl(209deg 100% 96.5%);
$col-blue4-light: hsl(210deg 98.8% 94%);
$col-blue5-light: hsl(209deg 95% 90.1%);
$col-blue6-light: hsl(209deg 81.2% 84.5%);
$col-blue7-light: hsl(208deg 77.5% 76.9%);
$col-blue8-light: hsl(206deg 81.9% 65.3%);
$col-blue9-light: hsl(206deg 100% 50%);
$col-blue10-light: hsl(208deg 100% 47.3%);
$col-blue11-light: hsl(211deg 100% 43.2%);
$col-blue12-light: hsl(211deg 100% 15%);
$col-blue1-dark: hsl(212deg 35% 9.2%);
$col-blue2-dark: hsl(216deg 50% 11.8%);
$col-blue3-dark: hsl(214deg 59.4% 15.3%);
$col-blue4-dark: hsl(214deg 65.8% 17.9%);
$col-blue5-dark: hsl(213deg 71.2% 20.2%);
$col-blue6-dark: hsl(212deg 77.4% 23.1%);
$col-blue7-dark: hsl(211deg 85.1% 27.4%);
$col-blue8-dark: hsl(211deg 89.7% 34.1%);
$col-blue9-dark: hsl(206deg 100% 50%);
$col-blue10-dark: hsl(209deg 100% 60.6%);
$col-blue11-dark: hsl(210deg 100% 66.1%);
$col-blue12-dark: hsl(206deg 98% 95.8%);

// Green
$col-green1-light: hsl(136deg 50% 98.9%);
$col-green2-light: hsl(138deg 62.5% 96.9%);
$col-green3-light: hsl(139deg 55.2% 94.5%);
$col-green4-light: hsl(140deg 48.7% 91%);
$col-green5-light: hsl(141deg 43.7% 86%);
$col-green6-light: hsl(143deg 40.3% 79%);
$col-green7-light: hsl(146deg 38.5% 69%);
$col-green8-light: hsl(151deg 40.2% 54.1%);
$col-green9-light: hsl(151deg 55% 41.5%);
$col-green10-light: hsl(152deg 57.5% 37.6%);
$col-green11-light: hsl(153deg 67% 28.5%);
$col-green12-light: hsl(155deg 40% 14%);
$col-green1-dark: hsl(146deg 30% 7.4%);
$col-green2-dark: hsl(155deg 44.2% 8.4%);
$col-green3-dark: hsl(155deg 46.7% 10.9%);
$col-green4-dark: hsl(154deg 48.4% 12.9%);
$col-green5-dark: hsl(154deg 49.7% 14.9%);
$col-green6-dark: hsl(154deg 50.9% 17.6%);
$col-green7-dark: hsl(153deg 51.8% 21.8%);
$col-green8-dark: hsl(151deg 51.7% 28.4%);
$col-green9-dark: hsl(151deg 55% 41.5%);
$col-green10-dark: hsl(151deg 49.3% 46.5%);
$col-green11-dark: hsl(151deg 50% 53.2%);
$col-green12-dark: hsl(137deg 72% 94%);

// Yellow
$col-yellow1-light: hsl(60deg 54% 98.5%);
$col-yellow2-light: hsl(52deg 100% 95.5%);
$col-yellow3-light: hsl(55deg 100% 90.9%);
$col-yellow4-light: hsl(54deg 100% 86.6%);
$col-yellow5-light: hsl(52deg 97.9% 82%);
$col-yellow6-light: hsl(50deg 89.4% 76.1%);
$col-yellow7-light: hsl(47deg 80.4% 68%);
$col-yellow8-light: hsl(48deg 100% 46.1%);
$col-yellow9-light: hsl(53deg 92% 50%);
$col-yellow10-light: hsl(50deg 100% 48.5%);
$col-yellow11-light: hsl(42deg 100% 29%);
$col-yellow12-light: hsl(40deg 55% 13.5%);
$col-yellow1-dark: hsl(45deg 100% 5.5%);
$col-yellow2-dark: hsl(46deg 100% 6.7%);
$col-yellow3-dark: hsl(45deg 100% 8.7%);
$col-yellow4-dark: hsl(45deg 100% 10.4%);
$col-yellow5-dark: hsl(47deg 100% 12.1%);
$col-yellow6-dark: hsl(49deg 100% 14.3%);
$col-yellow7-dark: hsl(49deg 90.3% 18.4%);
$col-yellow8-dark: hsl(50deg 100% 22%);
$col-yellow9-dark: hsl(53deg 92% 50%);
$col-yellow10-dark: hsl(54deg 100% 68%);
$col-yellow11-dark: hsl(48deg 100% 47%);
$col-yellow12-dark: hsl(53deg 100% 91%);

// Red
$col-red1-light: hsl(359deg 100% 99.4%);
$col-red2-light: hsl(359deg 100% 98.6%);
$col-red3-light: hsl(360deg 100% 96.8%);
$col-red4-light: hsl(360deg 97.9% 94.8%);
$col-red5-light: hsl(360deg 90.2% 91.9%);
$col-red6-light: hsl(360deg 81.7% 87.8%);
$col-red7-light: hsl(359deg 74.2% 81.7%);
$col-red8-light: hsl(359deg 69.5% 74.3%);
$col-red9-light: hsl(358deg 75% 59%);
$col-red10-light: hsl(358deg 69.4% 55.2%);
$col-red11-light: hsl(358deg 65% 48.7%);
$col-red12-light: hsl(354deg 50% 14.6%);
$col-red1-dark: hsl(353deg 23% 9.8%);
$col-red2-dark: hsl(357deg 34.4% 12%);
$col-red3-dark: hsl(356deg 43.4% 16.4%);
$col-red4-dark: hsl(356deg 47.6% 19.2%);
$col-red5-dark: hsl(356deg 51.1% 21.9%);
$col-red6-dark: hsl(356deg 55.2% 25.9%);
$col-red7-dark: hsl(357deg 60.2% 31.8%);
$col-red8-dark: hsl(358deg 65% 40.4%);
$col-red9-dark: hsl(358deg 75% 59%);
$col-red10-dark: hsl(358deg 85.3% 64%);
$col-red11-dark: hsl(358deg 100% 69.5%);
$col-red12-dark: hsl(351deg 89% 96%);
