/* -------------------------------- */
/*           ~ Colors ~             */
/* -------------------------------- */
/*           [CRM System]           */
/* -------------------------------- */
/*   CRM System for TechExpo24      */
/*   [-- INSERT WEB ADDRESS --]     */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/02/2024          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Colors
////

/*   Imports                        */
@use 'variables' as *;

/* -------------------------------- */
/*   Primary Colors                 */
/* -------------------------------- */

/// Primary - Orange
/// @type Color
$col-1a: hsl(22deg 65% 57%);

/* -------------------------------- */
/*   Secondary Colors               */
/* -------------------------------- */

/// Secondary - Orange
/// @type Color
$col-2a: hsl(21deg 94% 75%);

/* -------------------------------- */
/*   Tertiary Colors                */
/* -------------------------------- */

/// Tertiary - Black
/// @type Color
$col-3a: hsl(0deg 0% 0% / 50%);
