/* -------------------------------- */
/*          ~ Variables ~           */
/* -------------------------------- */
/*           [CRM System]           */
/* -------------------------------- */
/*   CRM System for TechExpo24      */
/*   [-- INSERT WEB ADDRESS --]     */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      07/02/2024          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

////
/// --- SASSDOC
/// @group Variables
////

/*   Imports                        */
@use 'functions' as f;

/* -------------------------------- */
/*   Margin & Padding               */
/* -------------------------------- */

/// Horizontal padding for desktop sized screens
/// @type Number (em)
$padding-desktop-horizontal: f.px2em(165);

/* -------------------------------- */
/*   Borders                        */
/* -------------------------------- */

/// Equal four corner border radius
/// @type Number (pixel)
$border-radius-1: 8px;

/* -------------------------------- */
/*   Shadows                        */
/* -------------------------------- */

/// Box shadow variation; light black
/// @type Pixel Pixel Pixel Pixel RGB
$box-shadow-1: 0 10px 10px -10px rgb(72 84 159 / 10%);

/* -------------------------------- */
/*   Web Element                    */
/* -------------------------------- */

/// Navigation bar vertical dimension
/// @type Number (pixel)
$navbar-dim-vertical: f.px2em(95);
