@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.container {
  display: grid;
  grid-template-columns: auto;
  gap: 25px;
}

.tableControlsFooter {
  justify-self: end;
  width: fit-content;
  padding: 3px 40px;
  border: 1px solid var(--thm-border-default);
  border-radius: 6px;
  transition-property: border-color;
}
