@use '#Sass/abstracts/animations' as a;
@use '#Sass/components/form' as form;

$padding: 16px;

.wrapper {
  @include form.input-container;
  @include form.input-focus-within;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  min-height: form.$input-height;
  background-color: inherit;
  border: 1px solid var(--thm-button-secondary-border);
  border-radius: form.$input-border-radius;
  transition: a.$input-focus;

  &__label {
    position: absolute;
    top: calc(0px + $padding);
    left: $padding;
    font-size: 16px;
    background-color: inherit;
    color: var(--thm-icon-secondary);
    transition: all 0.2s ease-in-out;
  }

  &__textarea {
    @include form.input-base;
    resize: vertical;
    height: 100%;
    min-height: calc(form.$input-height - $padding);
    padding: 0 $padding $padding $padding;
    scroll-padding-bottom: $padding; // Ensures text is inset from edge
    margin-top: $padding;
    color: var(--thm-text-default);
    background-color: inherit;
    border-radius: inherit;
    overflow-y: hidden;

    &:is(:focus, :not(:placeholder-shown)) + .wrapper__label {
      padding-inline: 4px;
      font-size: 12px;
      color: form.$input-color-active;
      transform: translate(calc($padding / -2), calc(-1 * $padding) - 9px);
    }
  }
}

.success {
  position: relative;
  @include form.input-valid;

  &::before {
    @include form.input-validated;
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
  }

  & .wrapper__textarea {
    &:is(:focus, :not(:placeholder-shown)) + .wrapper__label {
      color: form.$input-color-success;
    }
  }
}
