@use '#Sass/components/form' as form;

$padding: form.$input-padding;

.textarea {
  @include form.input-base;
  resize: vertical;
  height: 100%;
  min-height: calc(form.$input-height - $padding);
  padding: 0 $padding $padding $padding;
  scroll-padding-bottom: $padding; // Ensures text is inset from edge
  margin-top: $padding;
  color: var(--thm-text-default);
  background-color: inherit;
  border-radius: inherit;
  overflow-y: hidden;
}
