@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.notificationIcon {
  @include mx.header-button;
  position: relative;

  &__svg {
    @include mx.header-button-svg;
  }
}

.notificationContent {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.indicator {
  position: absolute;
  top: 5px;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px black;

  &--noMessages {
    background-color: transparent;
  }

  &--unreadMessages {
    background-color: var(--thm-notification-indicator-unread);
  }

  &--readMessages {
    background-color: var(--thm-notification-indicator-read);
  }
}

/* -------------------------------- */
/*   CSS-Transition-Group           */
/* -------------------------------- */

.appear,
.appeaDone {
  opacity: 0;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 550ms;
}

.enterDone {
  opacity: 1;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 800ms;
}
