@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/components/buttons' as btn;

.contactsRouteLayout {
  display: grid;
  gap: 25px;
}

.table {
  width: 100%;
  height: 100%;
}
