.userRole {
  width: fit-content;
  padding: 5px 10px;
  font-size: 12px;
  color: var(--thm-text-danger);
  background-color: var(--thm-background-subtle);
  border: 2px solid var(--thm-border-danger);
  border-radius: 8px;
  text-transform: uppercase;
}
