@use '@Sass/abstracts/animations' as anim;

.tableSingleColumn {
  border: 1px solid var(--thm-border-default);
  border-radius: 6px;
  overflow: hidden;
  transition-property: border-color;

  &__header {
    background-color: var(--thm-background-default);
    transition-property: background-color;
  }

  &__row {
    border-bottom: 1px solid var(--thm-border-default);
    transition-property: border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}
