@use '#Sass/components/buttons' as btn;

.quoteReadPage {
  padding: 12px;
}

.summary {
  display: flex;
  justify-content: space-between;

  &__quoteTitle {
    color: var(--thm-text-default);
  }
}

.backQuotesPage {
  @include btn.btn-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  padding: 4px 15px;
}

.hr {
  margin: 32px 0;
  border-color: var(--thm-border-secondary);
}

.summaryBtns {
  display: flex;
  column-gap: 12px;

  &__convertPDF {
    @include btn.btn-primary;
  }

  &__editQuote {
    @include btn.btn-secondary;
  }
}

.quoteDocument {
  margin-top: 32px;
  background-color: white;
  border-radius: 6px;

  &__header,
  &__body,
  &__footer {
    padding: 32px;
  }

  &__hr {
    border-color: var(--thm-border-tertiary);
  }
}
