/* stylelint-disable property-no-unknown */
@use 'variables' as *;

// Export SASS variables for consumption inside JS
/*   Exports                        */
:export {
  // hot-toast styling
  colorToastMagenta: $magenta;
  colorToastRoyalBlue: $royal-blue;
  colorToastRed: $toast-red;
  colorToastMuteBlue: $toast-mute-blue;
}
