@use '@Sass/abstracts/animations' as anim;
@use '@Sass/abstracts/mixins' as mx;
@use '@Sass/abstracts/variables' as var;

.layout {
  @include mx.scrollbar-base;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;

  &__header {
    height: var.$header-dim-vertical;
  }

  &__contents {
    display: grid;
    grid-template-columns: min-content 1fr;
    height: calc(100vh - var.$header-dim-vertical);
  }

  &__main {
    background-color: var(--thm-background-screen);
    transition: anim.$theme-transition-background;
  }
}
