@use '@Sass/abstracts/variables' as var;

.viewportLayout {
  height: 100%;
  max-height: calc(100vh - var.$header-dim-vertical);
  padding: 24px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
