<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="CRM System | TechExpo 2024" />
    <meta name="author" content="Simon Stranks" />
    <meta name="keywords" content="HTML, CSS, JavaScript, SASS, React, Webpack, NodeJS, MongoDB, Express, Docker" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRM System | TechExpo 2024</title>
  </head>
  <body>
    <div id="root" aria-hidden="false"></div>
  </body>
</html>
