@use '#Sass/abstracts/animations' as a;
@use '#Sass/components/form' as form;

.formContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: hsla(0deg 0% 95% / 40%);
}

.registerForm {
  @include form.form-base;
  row-gap: 20px; // NOTE:  Temporary. Style individual parts later.

  &__inputEmail {
    @include form.input-base;
    height: form.$input-height;
    border: form.$input-border;
    border-radius: form.$input-border-radius;
    transition: a.$input-focus;
  }

  &__submitBtn {
    @include form.submit-button;
    width: 100%;
    height: 50px;
  }
}
