# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: Dependencies
permissions: read-all
# Checks the entire repository for outdated packages (latest) and prints output to .txt

on: # yamllint disable-line rule:truthy
  schedule:
    # minute (0-59) - hour (0-23) - date (1-31) - month (1-12 or JAN-DEC) - day (0-6 or SUN-SAT)
    - cron: '0 17 * * SUN'
  workflow_dispatch: {}

jobs:
  dependencies:
    name: dependencies
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
      # Checkout project code to runner workspace sub-directory
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          path: ${{ github.workspace }}/tech-expo

      - uses: pnpm/action-setup@v4
        with:
          package_json_file: tech-expo/package.json
          run_install: false

      - name: Use Node.js v22
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: pnpm
          cache-dependency-path: ${{ github.workspace }}/tech-expo/pnpm-lock.yaml

      - name: Install 'tech-expo' dependencies
        working-directory: ${{ github.workspace }}/tech-expo
        run: pnpm install

      # Reference github action in another public repo
      - name: Checkout code - github action - pnpm-outdated
        uses: actions/checkout@v5
        with:
          repository: SStranks/pnpm-outdated
          path: ${{ github.workspace }}/pnpm-outdated

      # Install github action dependecies and build
      - name: pnpm-outdated install and build
        working-directory: ${{ github.workspace }}/pnpm-outdated
        run: |
          pnpm install
          pnpm run build

      # TEMP: Workspace file structure
      # - name: temp - list out file structure of runner
      #   working-directory: ${{ github.workspace }}
      #   run: tree -d -I "node_modules" >> $GITHUB_STEP_SUMMARY

      - name: Run action; pnpm-outdated
        uses: ./pnpm-outdated
        with:
          cwd: ${{ github.workspace }}/tech-expo
