---
name: Lint
permissions: read-all

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node v22
        uses: actions/setup-node@v5
        with:
          node-version: 22.16.0
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build @crm-shared types
        run: pnpm --filter "@apps/crm-shared" build

      - name: Generate graphql codegen files
        run: pnpm --filter "@apps/crm-client" --filter "@apps/crm-server" codegen

      - name: MegaLinter
        uses: oxsecurity/megalinter/flavors/javascript@v9.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EXTENDS: ./.github/configs/mega-linter.yaml

      - name: Megalinter Artifacts
        if: success() || failure()
        uses: actions/upload-artifact@v5
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
            mega-linter.log
          retention-days: 1
